/* Colors used:
Primary Color (Floral White): #fcfaf7;
Secondary Color (Gray Black): #333333;
Third Color (Gray Black): #F3F1EE;
*/

* {
  box-sizing: border-box;
}

body {
    background-color:#fcfaf7;
    font-family: 'EB Garamond', serif;
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #333333;
    margin-right: auto;
    margin-left: auto;
  }
  
h1, h2, h3, h4 {
    line-height: 1.4;
  }
  
main{
  padding-top: 90px;
}  

/* Home Page Section*/

#hero {
  display: inline-block;
  width: 100%;
}

#hero h1 {
    text-align: left;
    color: #333333;
    font-size: 6em;
    padding-bottom: 20px;
    margin-top: 60px;
  }

#hero h3 {
  text-align: right;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  width: 650px;
  margin-left: auto;
}  

#hero a {
 font-size: 150%;
}

#hero a:hover {
  text-decoration: line-through;
  font-style: italic;
 }

.hero-arrow {
  width: 10em;
  display: block;
}

h1 {
    font-size: 2.7em;
    font-weight: 500;
    margin: 0;
  }

/* span{
  font-style: italic;
} */

h2 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  
h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 0px;
  }
  
h4 {
    font-size: 1.5em;
    font-weight: 400;
  }


.square {
    /*position:;*/
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    height: 30em;
    margin-top: -475px;
    background-color:#F3F1EE;
    margin-bottom: 5em;
}

.home{
  width: 100%;
  height: 100vh;
  background-color: #fcfaf7;
}

img {
    width: 100%;
  }

p {
  font-size: 1.1em;
} 

a {
    color: #333333;
    text-decoration: none; /* No underlining */
  }

.italic{
  font-style: italic;
}


selector {
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
    position: relative;
    float: right;
    width: 1200px;
  }  

button {
    display: block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    position: relative;
    background-color: #fcfaf7;
    text-transform: uppercase;
    color: #333333; /* needed to override the default link color */
    border: 1px solid #333333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition-duration: 0.8s;
    width: 200px;
    margin-top: 25px;
  }

button:hover {
    color: #fcfaf7; /* needed to override the default link color */
    background-color: #333333;
  }

button:active {
  color: #fcfaf7;
  background-color: #333333;
  }


/* Layout styling */

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin: 15px 0; /* 25px top and bottom, 0 left and right */
}

#aboutrow .row {margin: 0;}


/* Nav Bar Section */

.logo {
  max-width: 150px;
  padding-bottom: 30px;
}

header {
  padding: 9px;
	width: 100%; 
	background: #fcfaf7; 
	border-bottom: 1px solid #333333;
  position: fixed;
  z-index: 1000;
}

nav > ul {
  list-style-type: none;
  padding-top: 4px;
  margin: 0;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

nav > ul > li > a:hover {
  text-decoration: line-through;
  font-style: italic;
}

nav > ul > li > a:visited {
  text-decoration: line-through;
  font-style: italic;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  text-align: center;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -2px;
  font-size: 20px;
  padding-right: 0;
}

/* Nav Bar Section Ends */

/* Work Page Section */

video {
  max-width: 100%;
  max-height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  /*max-width: 1000px;*/
  margin: 0 auto 60px auto;
  z-index: 1;
}

.grid-item {
  position:relative;
}

.grid-item img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.grid-item img:hover{
  padding: 5px;
  border: 1px solid #333333;
  transition-duration: 0.5s;
  filter: grayscale(100%);
  filter: brightness(0.5)
}

.pjtext {
  position: absolute;
  bottom: 40%; /* Position text above the image */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
  visibility: hidden;
  /*text-transform: uppercase;*/
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Ensure the text does not wrap */
}

.grid-item:hover .pjtext {
  visibility: visible;
  opacity: 1;
}

/* Projects */
.hero-img{
  width: 100%;
  height: 200px;
  display: inline-block;
  background-size: cover;
  margin-top: -35px;
}

.pj-title{
  font-size: 3.5em;
  font-weight: 500;
}

#work p{
  margin-top: 18px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
}

.mini-browser {
  width: 100%;
  height: 35px;
  border: 1px solid #333333;
  margin: auto;
  margin-top: 20px;
}

.dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fcfaf7;
  border: 1px solid #333333;
  display: inline-block;
  margin: 4px;
}

.browser-dots{
  margin: 6px 0 0 6px;
}

.content {
  padding: 40px;
  text-align: center;
}

/* Carousel Code Starts */

.carousel-container {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 10px;
  margin: 40px auto 40px auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 0; /* Add padding to leave space for the arrows */
  height: 450px;
  overflow: scroll;
  border: 1px solid #333333;
  object-fit: cover;
}

.carousel-item {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.carousel-item.active {
  display: block;
}

.author {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  cursor: pointer;
  font-size: 24px;
  color: #333;
  padding: 10px;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: -60px; /* Adjust this to move it further left */
}

.next {
  right: -35px; /* Adjust this to move it further right */
}

.prev:hover, .next:hover {
  color: #000;
}

/* Carousel Code Ends */

/* Work Page Section Ends*/

/* About Page Section */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#aboutpicture {
  width: 20em;
  display: block;
  margin: auto;
  border-radius: 50%;
}

#about p{
  margin-top: 15px;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -9em;
  left: 3em;
  margin-bottom: -11em;
}

.text{
  position:absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText{
  0% {
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.text span{
  position: absolute;
  left: 50%;
  font-size: 0.9em;
  transform-origin: 0 90px;
}

#skills-tools {
  margin: 0 ;
}

#button-about{
  
}

form{
  margin: 0 0 0 2.7px;
}

.contact-container{
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.contact-inputs{
  width: 100vh;
  height: 45px;
  border: 1px solid #333333;
  outline: none;
  padding-left: 20px;
  font-weight: 500;
  font-style: italic;
  color: #333333;
  background-color: #fcfaf7;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
}

.contact-input::placeholder{
  color: #a9a9a9;
}

#contact-button{
  margin-top: 1px;
  margin-bottom: 40px;
  padding: 10px 30px;
}

/* About Page Section Ends */

/* Footer Page Section */
footer {
  display:block;
  margin: auto;
  padding-top: 13px;
  text-align: center;
  border: 1px solid #333333;
  height: 60px;
}

#footer > ul {
  list-style-type: none;
  padding: 0;
  transition-property: opacity;
}

#footer > ul > li {
  display: inline-block;
  margin: 0 0 0 8px;
}

#footer > ul > li > a {
  width: 20px;
  display: inline-block;
}

#footer > ul > li > a:hover {
  position: relative;
  bottom: 3px;
  opacity: 0.8;
}

#footer > ul > li > a:visited {
  position: relative;
  opacity: 0.8;
}

ul{
  list-style-type: none;
}


/* Footer Page Section Ends*/

/* ==============================
Small devices (600px and smaller)
================================= */
@media only screen and (max-width:640px){
  .container {
    padding: 0 30px;
  }

  #hero{
    padding: 10px 0 10px;
  }

  #hero h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    margin-top: 20px;
  }

  #hero h3 {
    font-size: 1.5em;
    width: 300px;
    margin-bottom: 25px;
  }

  #hero a {
    font-size: 120%;
  }

  .square {
    /*position:;*/
    width: 70%;
    margin-top: -280px;
    height: 18em;
    margin-bottom: 40px;
  }

  #button-about{
    margin-bottom: 20px;
  }

  main{
    padding-top: 80px;
  }
  
  #aboutpicture {
    width: 18em;
    margin-top: 50px;
    margin: auto;
  }

  .carousel {
    height: 45vh;
  }
 
  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev {
    left: -45px; /* Adjust this to move it further left */
  }
  
  .next {
    right: -24px; /* Adjust this to move it further right */
  }
  
  .prev:hover, .next:hover {
    color: #000;
  }
  
  nav{
    margin-top: -5px;
  }
  
  .navtoggle li .icon{
    margin-top: 5px;
  }

  #skills-tools {
    margin-bottom: 20px;
  }

  #skills > ul > li{
    margin-bottom: 15px;
  }

  #type > ul > li{
    margin-bottom: 15px;
  }

  #tools > ul > li{
    margin: 0;
  }

  .logo {
    max-width: 150px;
    visibility:visible;
  }

  /*.image-container {
    width: 100%;
    height: 500px; /* Adjust height as needed
  } */

  .contact-inputs{
    width: 100%;
  }

  .carousel-container{
    width: 100%;
  }

  .mini-browser {
    width: 100%;
    margin-top: 30px;
  }

  footer{
    padding-top: -6px;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .container {
    padding: 0 60px;
  }

  header {
    text-align: unset;
    height: 55px; 
  }

  .logo {
    margin-top: 10px;
    max-width: 250px;
  }

  .square {
    /*position:;*/
    margin-top: -630px;
    height: 39em;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -23px;
  }

  nav > ul {
    margin: 1.2em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #social > ul > li {
    margin-top: -5em;
    margin-bottom: 0.5em;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 0px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #skills-tools{
    margin-bottom: 25px;
  }

  #skills > ul > li{
    margin: 0;
    padding-right: 20px;
  }

  #type > ul > li{
    margin-bottom: 20px;
  }

  #tools > ul > li{
    margin: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7{
    width: 58.33%;
    float: left;
    text-align: left;
  }

  .col-lg-5{
    width: 41.66%;
    float: left;
  }

  .square {
    /*position:;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: -480px;
    height: 31em;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }
  
  .navtoggle.responsive li  {
    padding: 0;
  }
}