/* Colors used:
Primary Color (Floral White): #fcfaf7;
Secondary Color (Gray Black): #333333;
*/

* {
  box-sizing: border-box;
}

body {
    background-color:#fcfaf7;
    font-family: 'EB Garamond', serif;
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #333333;
  }
  
h1, h2, h3, h4 {
    line-height: 1.4;
  }
h1 {
    font-size: 2.7em;
    font-weight: 700;
  }
  
h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }
  
h3 {
    font-size: 1.7em;
    font-weight: 400;
  }
h4 {
    font-size: 1.5em;
    font-weight: 400;
  }
img {
    width: 100%;
  }
p {
  font-size: 1.1em;
} 
a {
    color: #333333;
    text-decoration: none; /* No underlining */
  }
/* a:hover,
a:focus {
    color: #fcfaf7;
    text-decoration: line-through;
  } 
a:active { /* selected link 
    color: #994c30;} */

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #fcfaf7;
    text-transform: uppercase;
    color: #333333; /* needed to override the default link color */
    border-style: solid;
    border-color: #333333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3.5px;
    transition-duration: 0.8s;
  }
.button:hover {
    text-decoration: none;
    background-color: #333333;
    color: #fcfaf7;
  }
.button:active {
  color: #333333;
}

.button-about{
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #333333;
  text-transform: uppercase;
  color: #fcfaf7;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  margin-top: 10px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 3.5px;
  transition-duration: 0.8s;
}

.button-about:hover {
  background-color: #fcfaf7;
  color: #333333; /* needed to override the default link color */
  border-style: solid;
  border-color: #333333;
}
.button-about:active {
color: #333333;
}

.contact-links{
  text-decoration: underline;
}

.contact-links:hover,
.contact-links:focus {
    text-decoration: line-through;
    font-style: italic;
  } 
.contact-links:active { /* selected link */
  text-decoration: line-through;
  font-style: italic;
  }

selector {
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
    position: relative;
    float: right;
    width: 1200px;
  }  

.buttonr{
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #fcfaf7;
    text-transform: uppercase;
    color: #333333; /* needed to override the default link color */
    border-style: solid;
    border-color: #333333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-top: 25px;
    border-radius: 3.5px;
    transition-duration: 0.8s;
}  

.buttonr:hover {
  text-decoration: none;
  background-color: #333333;
  color: #fcfaf7;
}
.buttonr:active {
color: #333333;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #333333; }

#hero h1 {
  text-align: center; /* Centers text */
  color: #333333;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #fcfaf7;
  text-align: center;
  padding: 20px 0 5px;
  /*start ------------*/
	width: 100%; 
	height: [object Object]px; 
	background: #FCFAF7; 
	border: solid #BDBDBD 0; 
	box-shadow: 0 15px 43px rgba(51, 51, 51, 0.1)  ; 
	-webkit-box-shadow: 0 15px 43px rgba(51, 51, 51, 0.1)  ; 
	-moz-box-shadow: 0 15px 43px rgba(51, 51, 51, 0.1)  ; 
  position: fixed;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

nav > ul > li > a:hover {
  text-decoration: line-through;
  font-style: italic;
}

nav > ul > li > a:visited {
  text-decoration: line-through;
  font-style: italic;
}

#hero {
  background-color: #fcfaf7;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

#aboutpicture{
  width: 18em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#social > ul {
  list-style-type: none;
  padding: 0;
  transition-property: opacity;
}

#social > ul > li {
  display: inline-block;
  width: 30px;
  margin: 0 8px;
}

#social > ul > li > a:hover {
  position: relative;
  bottom: 3px;
  opacity: 0.8;
}

#social > ul > li > a:visited {
  position: relative;
  bottom: 3px;
  opacity: 0.8;
}

ul{
  list-style-type: none;
}

#cssanimation{
  width: 70%;
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@keyframes earrings {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.cls-1 {
  animation:earrings 4s infinite linear;
}

/*
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: -16px;
  }

  main {
    padding-top: 99px;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3{
    margin-top: 0;
  }

  #skills > ul > li{
    margin: 0 0 0 -38px;
  }

  #tools > ul > li{
    margin: 0 0 0 -38px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7{
    width: 58.33%;
    float: left;
  }

  .col-lg-5{
    width: 41.66%;
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}